%title {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    @media screen and (max-width: 479px) {
        font-size: 24px;
    }

    @media screen and (max-width: 1199px) {
        margin-bottom: 30px;   
    }
}

%footer_title {
    margin-top: 0;
    margin-bottom: 20px;
    color: $main-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}