$main-color: #ffffff;
$primary-color: #212121;
$second-color: #757575;
$accent-color: #2196F3;
$hover-color: #188ce8;
$icon-color: #afb1b8;
$logo-color: #000000;
$border-color: #2a2a2a;
$hero-bgc: #c4c4c4;
$team-bgc: #f5f4fa;
$footer-bgc: #2f303a;
$footer-color: rgba(255, 255, 255, 0.6);
